body {
  background: linear-gradient(to left bottom, #000000, #ffffff,#000000);
  opacity: 0.9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Roboto', sans-serif;
}
.container{
  background-color: rgba(240, 240, 240, 0.7);
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0,0,0,.3);
  border-radius: 15px;
  text-align: center;
  width:85%;
  color:black
}
.heading{
  font-size: 35px;
  font-family:  'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}
.para{

  font-size: 25px;
  font-weight: 500;
  margin: 40px;
}
.btn{
  font-size: 18px;
  font-weight: 500px;
  border-radius:10px;
  cursor: pointer;
  padding: 10px;
  background-color: yellow;
  border: 5px solid black;
  text-transform: uppercase;
}
.btn:hover{
  background-color: lightgreen;
  opacity: 0.9;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  transition: all 300ms ease;
}